@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Roboto:wght@500&display=swap");
:root {
  --red: #f11012;
  --green: #82af3a;
  --black: #0f111a;
  --white: #ffffff;
  --offwhite: #f8f8f2;
  --pink: #d91ca8;
  --yellow: #ffb626;
  --global-transition-time: 0.2s;
  --hard-box-shadow: 0.625rem 0.625rem 0 0 var(--yellow);

  --yt-red: #c00000;

  --blue-bright: #4ab9f8;
  --grey: #343434;

  --font-family-panther: "Work Sans", sans-serif;
  --font-family-stefan: "Oswald", sans-serif;
  --font-family-youtube: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

html,
body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container__vs {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(241, 16, 18, 1) 50%, rgba(74, 185, 248, 1) 50%);
}

.container {
  display: grid;
  grid-template-columns: 12fr 1fr 12fr;
  height: 100vh;
}

.container__svgHolder {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.container__svgHolder svg {
  height: 100%;
}

.container__panther {
  padding: 2rem;
  background-color: var(--black);
}

.container__pantherTitle {
  font-family: var(--font-family-panther);
  color: var(--yellow);
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 0.25rem solid var(--red);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
}

.container__pantherStat {
  font-family: var(--font-family-panther);
  color: var(--yellow);
  font-size: 4rem;
  text-align: center;
}

.container__stefan {
  padding: 2rem;
  background-color: var(--white);
}

.container__stefanTitle {
  font-family: var(--font-family-stefan);
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--grey);
  border-bottom: 0.25rem solid var(--grey);
  line-height: 2;
}

.container__stefanStat {
  font-family: var(--font-family-panther);
  font-size: 4rem;
  text-align: center;
  color: var(--grey);
}

.container__buttonContainer {
  text-align: center;
}

.container__button {
  background-color: var(--yt-red);
  color: var(--white);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.007px;
  font-family: var(--font-family-youtube);
  font-weight: 500;
  padding: 0.625rem 1rem;
}

.container__button:hover,
.container__button:focus {
  outline-width: 0;
  box-shadow: var(--yellow) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}
